<div class="main-container">

    <div class="nav-header">
        <nav>
            <label class="logo">Sample Bank</label>
            <ul>
                <li><a href="#home">Clients</a></li>
                <li><a href="./pages/cards.html">Users</a></li>
                <li><a href="#contact">Account Products</a></li>
                <li><a href="./pages/tail_wind_sample.html">Charges</a></li>
                <li><a href="#" (click)="doLogout()">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content">

        <div class="router-content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="page-footer">
        <p> &copy; CopyRight All Rights Reserved</p>
    </div>

</div>