<div class="main-container">

    <div class="nav-header">
        <nav>
            <label class="logo">Design</label>
            <ul>
                <li><a href="#home">My Accounts</a></li>
                <li><a href="./pages/cards.html">Transactions</a></li>
                <li><a href="#contact">Statements</a></li>
                <li><a href="./pages/tail_wind_sample.html">Notifications</a></li>
                <li><a href="./pages/grid_layout.html">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content">

        <div class="router-content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="page-footer">
        <p> &copy; CopyRight All Rights Reserved</p>
    </div>

</div>