.create-new-client-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-row mat-form-field{
 width: 49%;
}

mat-form-field {
    margin-right: 12px;
  }