<div class="clients-content">

      <mat-toolbar>
        <span>Client Accounts</span>
        <span class="client-toolbar-spacer"></span>
        <button mat-raised-button>
          Add
        </button>
      </mat-toolbar>
  
      <div class="clients-table">
  
    
      </div>





      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">  </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button>
              <mat-icon>output</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="accountType">
          <mat-header-cell *matHeaderCellDef> Account Type </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.accountType}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="accountNumber">
          <mat-header-cell *matHeaderCellDef> Account Number </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.accountNumber}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="accountStatus">
          <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.accountStatus}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="balance">
          <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.balance}} </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  
  </div>