$primaryColor: rgb(30, 144, 210);

.employee-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;

    h2 {
        width: 100%;
        height: 30px;
        background-color: $primaryColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    mat-dialog-content {
        display: flex;
        gap: 1%;
        width: 100%;

        .employee-img {
            width: 33%;

            img {
                width: 100%;
            }
        }

        .employee-profile {
            width: 66%;

            mat-card-content {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 50px;

                .employee-attr {
                    display: flex;
                    gap: 20px;
                    border-bottom: 1px $primaryColor solid;
                    height: 40px;

                    .attr-key {
                        font-weight: bold;
                        font-size: large;
                        width: 35%;
                    }

                    span {
                        color: $primaryColor;
                        width: 10%;
                    }

                    .attr-value {
                        font-weight: 300;
                        font-size: large;
                        width: 55%;
                    }
                }
            }
        }
    }

}

button {
    width: 100px;
    height: 50px;
    background-color: gray;
    border-radius: 10px;
    border: 1px black solid;
    color: white;
    transition: 0.3s;
}

button:hover {
    border-radius: 20px;
    cursor: pointer;
}